<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jbusdriver.component.plugin.manager">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application></application>
</manifest>
