<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jbusdriver.me.jbusdriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="me.jbusdriver.common.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_KEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL}" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale" />

        <activity
            android:name="me.jbusdriver.ui.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="me.jbusdriver.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.jbusdriver.ui.activity.MovieDetailActivity" />
        <activity android:name="me.jbusdriver.ui.activity.WatchLargeImageActivity" />
        <activity android:name="me.jbusdriver.ui.activity.MovieListActivity" />
        <activity
            android:name="me.jbusdriver.ui.activity.SearchResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="me.jbusdriver.ui.activity.MagnetPagerListActivity"
            android:launchMode="singleTop" />
        <activity android:name="me.jbusdriver.ui.activity.SettingActivity" />

        <service
            android:name="me.jbusdriver.ui.task.CollectService"
            android:exported="false" />
        <service
            android:name="me.jbusdriver.ui.task.TrimLikeService"
            android:exported="false" />

        <activity android:name="me.jbusdriver.ui.activity.HotRecommendActivity" />
    </application>

</manifest>